.container {
  font-size: 1rem;
}
#scores-div {
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 10px;
}
#user-div {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.5rem;
}

#test-score-div {
  color: red;
}
.score {
  display: inline-flex;
  font-size: 1.1rem;
  margin: 5px;
  border: groove;
  padding: 5px;
  background-color: #abcfde;
  border-radius: 2rem;
}

#seperator {
  display: inline-flex;
  font-size: 2rem;
  border-radius: 4rem;
  color: black;
}
