.react-logo {
  display: block;
  margin: 0 auto;
  animation: react-logo-spin infinite 10s linear;
}

@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#login-div {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 10px;
  text-transform: uppercase;
}
#sub-heading {
  font-size: 1.5rem;
  margin-top: 20px;
}

#login-button {
  font-size: 2rem;
  margin-top: 50px;
  font-weight: 500;
  border-radius: 0.16em;
  color: #fffffe;
  background-color: #8b9fa7;
  padding: 10px 40px;
}
#login-button:hover {
  background-color: #abcfde;
}
