#welcome-screen{
    font-size: 1.5rem;
    font-weight: 900;
padding-bottom: 10%;
}

#link-one{

    padding-top:50px;
    text-align: center;
    
}
#link-two{
    padding-top:50px;
    text-align: center;
}
