.container {
  position: relative;
}
.background {
  height: 6rem;

  background-color: #abcfde;
  text-transform: uppercase;
  margin: 10px 10px 25px 25px;
  border: 1px groove;
  border-radius: 1rem;
  text-align: center;
}

.menu {
  line-height: 7.5rem;
  font-size: 2rem;
  height: 100%;
  color: black;
  display: block;
}

.background:hover {
  background-color: #8b9fa7;
}
