* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: #b6cad2;
  /* fallback for old browsers */
}
.container {
  background-color: cornsilk;
  position: relative;

  color: #34251d;
  border: 5px outset #abcfde;
  width: 800px;
  max-width: 80%;
  border-radius: 10px;
}

#logout-button {
  display: flex;
  justify-content: center;
}

.topnav {
  text-align: center;
}
.score-div {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}
.nav-link {
  color: black;
  font-weight: 900;
  font-size: 1.25rem;
  padding: 40px;
}

#loading-div {
  font-size: 2rem;
}
