* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #eee;
}
.container {
  background-color: cornsilk;
  position: relative;

  color: #34251d;
  border: 5px outset #abcfde;
  width: 800px;
  max-width: 80%;
  border-radius: 0.16rem;
}

#loading-div {
  font-size: 2rem;
}
